*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #EC715F;
  width: 100%;
  height: 70px;
}

.header-nav{
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  height: 50px;
  width: auto;
}


.nav-list{
  display: flex;
  list-style: none;
}

.nav-list li{
  font-size: 16px;
  margin: 0 30px;
}

.nav-list li a{
  text-decoration: none;
  color: #FAFAFA
}

main{
  height: auto;
  width: 100%;
}

.main-visual{
  position: relative;
}

.main-visual img{
  height: 650px;
  width: 100%;
  object-fit: cover;
}

.main-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.big{
  color: #FAFAFA;
  font-size: 64px;
  margin-bottom: 10px;
}

.mini{
 color: #FAFAFA;
 font-size: 20px;
 margin: 0;
}

.portfolio{
  background-color: #ECEFF1;
  padding-top: 90px;
  padding-bottom: 90px;
}

.title{
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.line{
  width: 70px;
  height: 3px;
  background-color: #EC715F;
  margin: 8px auto 0;

}

.text{
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px auto;
}

.works{
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 30px auto;
  gap: 10px;
}

.work{
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.work1{
   background-image: url("img/sketch.jpg");
}

.work2{
  background-image: url("img/websuku.png");
}

.work3{
  background-image: url("img/write.jpg");
}

.work4{
  background-image:  url("img/webcamp.png");
}

.work5{
  background-image: url("img/talk.jpg");
}

.work6{
  background-image: url("img/webcamp-mother.png");;
}

.feature{
  padding: 90px 0;
  color: #000000;
}

.strengths{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 980px;
  margin: 0 auto;
}

.strength1,
.strength2,
.strength3{
  width: 320px;
  text-align: center;
}

.sub-title{
  font-size: 20px;
  margin: 10px 0;
}

.fa-solid{
  font-size: 60px;
}

.profile{
  padding: 90px 0;
  background-color: #ECEFF1;
}

.main-profile{
  width: 1024px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.profile-img-area{
  width: 512px;
  text-align: center;
}

.profile-img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text{
  width: 512px;
  color: #000000;
}

.p-title{
  font-size: 20px;
  margin-bottom: 5px;
}

.p-text{
  font-size: 16px;
  margin-bottom: 20px;
}

.contact{
  padding: 90px 0;
}

.main-contact{
  width: 800px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

.address{
  width: 400px;
  display: flex;
  justify-content: center;
}

.address-contents{
  text-align: left;
}

.icon{
  width: 400px;
  display: flex;
  justify-content: center;
}

.icon-contents{
  text-align: left;
}

.c-title{
  font-size: 20px;
  margin-bottom: 5px;
}

.c-text{
  margin-bottom: 20px;
}

.fa-brands{
  font-size: 50px;
  margin-right: 20px;
}

footer{
  height: 60px;
  width: 100%;
  background-color: #EC715F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
  font-size: 16px; 
  text-align: center;
  color: #FAFAFA;
}

@media screen and (max-width: 767px){

  .header-nav,
  .works,
  .strengths,
  .main-profile,
  .main-contact{
    width: 90%;
  }


  .strengths,
  .main-profile,
  .main-contact{
    flex-direction: column;
  }

  .main-visual img{
    content: url("img/code.png");
  }

  .big{
    font-size: 40px;
  }

  .mini{
    font-size: 18px;
  }

  .work1,
  .work3,
  .work5{
    display: none;
  }

  .works{
    flex-direction: column;
    align-items: center;
  }

  .profile-img-area,
  .profile-text{
    width: 100%;
    text-align: center;
  }

  .main-contact{
    flex-direction: column;
    align-items: center;
  }

  .c-title{
    text-align: center;
  }
}